/* styles.css */
/*
table, th, td {
	border: 1px solid;
	border-collapse: collapse;
}
*/
.noCandidates
{
	background-color: #fcc;
}

.singleCandidate
{
	background-color: #cfc;
}

.multipleCandidates
{
	background-color: #ffc;
}
