/* Mimic the look of <table border=1 cellspacing=0 cellpadding=2>: */

table {
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #555;
	border-right: 1px solid #555;
}

table th,
table td {
	padding: 2px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

table th {
	font-weight: bold;
}

td {
	vertical-align: top;
}

.noborder {
	border-collapse: separate;
	border-spacing: 0;
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
}

table.noborder th,
table.noborder td {
	padding: 2px;
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
}





/* Colors for the import review rows: */

.noCandidates
{
	background-color: #fcc;
}

.singleCandidate
{
	background-color: #cfc;
}

.multipleCandidates
{
	background-color: #ffc;
}





/* Styling for import review candidates */
.candidateRow
{
	display: grid;
	grid-template-columns: auto 2.5em  8em 1fr;
	align-items: center;
	column-gap: 0.75em;
	white-space: nowrap;

	position: relative;
}

.candidateSeen
{
	font-variant-numeric: tabular-nums;
	color: #666;
}

.candidateSeen.seenBeforeImport
{
	color: #c00;
}

.candidateTitleWrap
{
	display: flex;
	align-items: baseline;
	gap: 0.5em;

	min-width: 0;
}

.candidateTitle
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.candidateMeta
{
	margin-left: 0.5em;
	color: #888;
	font-size: 0.9em;
	white-space: nowrap;
}

.candidateTitle,
.candidateMeta
{
	display: inline;
}

.candidatePreview
{
	display: none;
	position: absolute;

	top: 100%;
	left: 2em; /* offset so it doesn't cover the radio */

	z-index: 1000;
}

.candidateRow:hover .candidatePreview
{
	display: block;
}





/* Colors distinguishing seen from not-seen characters */
.isSeen
{
	background-color: #eee;
}





/* Config editor: support for description in hint: */
.config-id
{
	white-space: nowrap;
	font-family: monospace;
}

.config-tooltip
{
	position: relative;
	cursor: help;
}

.config-tooltip-text
{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;

	background: #ffffe0;
	border: 1px solid #ccc;
	padding: 6px;

	white-space: normal;
	width: 300px;

	z-index: 100;
}

.config-tooltip:hover .config-tooltip-text
{
	display: block;
}





/* Config table striping: */
.config-table tbody tr:nth-child(odd)
{
	background: #f0f0f0;
}

.config-table tbody tr:nth-child(even)
{
	background: #ffffff;
}





/* Config table: stretch input column */
.config-table th:nth-child(2),
.config-table td:nth-child(2)
{
	width: 100%;
}

.config-table input[type="text"],
.config-table input[type="number"]
{
	width: 100%;
	box-sizing: border-box;
}
.config-table input[type="password"]
{
	width: 45%;
}
.config-id
{
	white-space: nowrap;
	font-family: monospace;
}
.config-table td:last-child
{
	white-space: nowrap;
}
