<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= utils.pickBestTitle(details.titles, "en") %> - AniDbXref</title>
	<link rel="stylesheet" href="/Static/main.css" />
</head>
<body>
<a href="/">Back to home</a> |
<a href="https://anidb.net/anime/<%= aId %>">AniDB.net</a> |
<a href="/force-update-details/<%= aId %>">Force update details</a>
<h1><%= utils.pickBestTitle(details.titles, "en") %></h1>
<% if not(details.description or details.startDate) then %>
<p>Anime details not received yet, check back later.</p>
<% else %>
<table>
<tr>
	<td>
		<!-- Picture, if available: -->
		<% if (details.pictureId) then %>
		<img src="/picture?id=<%= details.pictureId %>" />
		<hr />
		<% end %>

		<!-- isSeen editor: -->
		<form action="/anime/setSeen" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="aId" value="<%= aId %>" />
				<input type="checkbox" name="isSeen" value="1" <% if (details.isSeen == 1) then %> checked="true" <% end %> >
				Seen
				</label>
				<label>
				on:
				<input type="date" name="seenDateYmd" value="<%= utils.toIsoDate(details.seenDateYmd) %>">
				</label>
				<button type="submit">Apply</button>
		</form>
		<hr />


		<!-- Titles table: -->
		<h2>Titles</h2>
		<table>
			<% for _, title in ipairs(details.titles or {}) do %>
				<tr>
					<td><%= title.language %></td>
					<td><%= title.title %></td>
				</tr>
			<% end %>
		</table>
	</td>





	<td>
		<%= details.description or "" %>

		<!-- Mini-nav-bar: -->
		<p> |
		<% if (details.relatedAnime.n > 0) then %>
		<a href="#related">Related</a> |
		<% end %>
		<% if (details.similarAnime.n > 0) then %>
		<a href="#similar">Similar</a> |
		<% end %>
		<% if (details.episodes.n > 0) then %>
		<a href="#episodes">Episodes</a> |
		<% end %>
		<% if (details.characters.n > 0) then %>
		<a href="#characters">Characters</a> |
		<% end %>
		</p>





		<!-- related -->
		<% if (details.relatedAnime.n > 0) then %>
		<a name="related"><h2>Related</h2></a>
		<table>
			<tr>
				<th colspan=2>Title</th>
				<th>Relation</th>
				<th>Start date</th>
				<th>Seen</th>
			</tr>
			<% for _, ani in ipairs(details.relatedAnime) do %>
			<tr>
				<td><a href="/anime/<%= ani.relatedAid %>">
					<% if (ani.pictureId) then %>
					<img src="/picture?id=<%= ani.pictureId %>&size=thumb" />
					<% end %>
				</td>
				<td><a href="/anime/<%= ani.relatedAid %>"><%= utils.pickBestTitle(ani.titles, "en") %></a></td>
				<td><%= ani.relation %></td>
				<td><%= ani.startDate %></td>
				<td><%= utils.toIsoDate(ani.seenDate) %></td>
			</tr>
			<% end %>
		</table>
		<% end %>




		<!-- similar -->
		<% if (details.similarAnime.n > 0) then %>
		<a name="related"><h2>Similar</h2></a>
		<table>
			<tr>
				<th colspan=2>Title</th>
				<th>Start date</th>
				<th>Seen</th>
			</tr>
			<% for _, ani in ipairs(details.similarAnime) do %>
			<tr>
				<td><a href="/anime/<%= ani.similarAid %>">
					<% if (ani.pictureId) then %>
					<img src="/picture?id=<%= ani.pictureId %>&size=thumb" />
					<% end %>
				</td>
				<td><a href="/anime/<%= ani.similarAid %>"><%= utils.pickBestTitle(ani.titles, "en") %></a></td>
				<td><%= ani.startDate %></td>
				<td><%= utils.toIsoDate(ani.seenDate) %></td>
			</tr>
			<% end %>
		</table>
		<% end %>




		<!-- episodes -->
		<%
		if (details.episodes.n > 0) then
		-- Sort the episodes first by their kind, then by their number:
		table.sort(details.episodes, function (aEpisode1, aEpisode2)
			if (aEpisode1.kind ~= aEpisode2.kind) then
				return (aEpisode1.kind < aEpisode2.kind)
			end
			if (tonumber(aEpisode1.episodeNumber) and tonumber(aEpisode2.episodeNumber)) then
				return (tonumber(aEpisode1.episodeNumber) < tonumber(aEpisode2.episodeNumber))
			end
			return (tostring(aEpisode1.episodeNumber) < tostring(aEpisode2.episodeNumber))
		end)
		%>
		<a name="episodes"><h2>Episodes</h2></a>
		<table>
			<tr>
				<th>Episode</th>
				<th>Title</th>
				<th>Air date</th>
				<th>Length</th>
			</tr>
			<% for _, epi in ipairs(details.episodes) do %>
			<tr>
				<td><%= epi.episodeNumber %></td>
				<td><%= utils.pickBestTitle(epi.titles, "en") or tostring(epi.titles) %></td>
				<td><%= epi.airDate %></td>
				<td><%= epi.length %></td>
			</tr>
			<% end %>
		</table>
		<% end %>




		<!-- Characters -->
		<% if (details.characters.n > 0) then %>
		<a name="characters"><h2>Characters</h2></a>
		<table>
			<tr>
				<th>Name</th>
				<th>Voice actor</th>
				<th>Description</th>
			</tr>
			<% for _, ch in ipairs(details.characters) do %>
			<tr>
				<td>
					<%= ch.name %>
					<% if (ch.pictureId) then %>
					<br />
					<img src="/picture?id=<%= ch.pictureId %>&size=thumb" /><br />
					<% end %>
				</td>
				<td><% for _, va in ipairs(ch.voiceActors or {}) do %>
					<a href="/voiceActor/<%= va.vaId %>">
					<%= va.name or "(unknown voice actor)" %>
					<% if (va.pictureId) then %>
					<br />
					<img src="/picture?id=<%= va.pictureId %>&size=thumb" />
					<% end %>
					<br />
					</a><% end %>
				</td>
				<td><%= ch.description or "" %></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</td>
</tr>
</table>
<% end %>
</body>
