<html>
<head>
<title>AniDbXref</title>
<link rel="stylesheet" href="/Static/main.css" />
</head>

<body>
<h1>AniDbXref</h1>

<% if not(hasAniDbData) then %>
	<p>The base AniDB data has not been downloaded yet. <a href="/update-confirm">Update AniDB data now.</a>
<% else %>

	<table border=1 cellspacing=0>
	<tr>
	<th>
	<form action="/search" method="get">
		<input type="text" name="q" placeholder="Search anime" style="width:500px">
		<button type="submit">Search</button>
	</form>
	</th>
	<th><a href="/update-confirm">Update AniDB data</a></th>
	<th><a href="/import">Import <b>seen</b> from Firefox history</a></th>
	</tr>
	</table>

	<% if (seenAnime.n == 0) then %>
		<p>No anime marked as seen yet.</p>
	<%
	else
		table.sort(seenAnime, function (aAnime1, aAnime2)
			return (aAnime1.seenDate < aAnime2.seenDate)
		end)
	%>
		<p>
		<table border=1 cellspacing=0>
			<thead>
				<tr>
					<th>ID</th>
					<th>Start date</th>
					<th>EN Title</th>
					<th>JP Title</th>
					<th>X-JP Title</th>
					<th>Seen Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% for i = 1, seenAnime.n do
					local a = seenAnime[i] %>
					<tr>
						<td><%= a.aId %></td>
						<td><%= a.startDate %></td>
						<td><%= a.enTitle or "" %></td>
						<td><%= a.jaTitle or "" %></td>
						<td><%= a.xjatTitle or "" %></td>
						<td><%= os.date("%Y-%m-%d-%H:%M:%S", tonumber(a.seenDate)) %></td>
						<td><a href="/anime/<%= a.aId %>">Details</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		</p>
	<% end %>
<% end %>
</body>
