<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= seasonDescription %> watchlist - AniDbXref</title>
	<link rel="stylesheet" href="/Static/main.css" />
</head>
<body> |

<%
local seasonBounds = utils.seasonToYmdBounds(season)
local liveChartYmd = utils.ymdAddOffset(seasonBounds.startDateYmd, 45)

--- Returns the URL to a favicon based on the provider name
-- Simply returns the icon stored in our providers icons static folder
local function faviconUrl(aProviderName)
	assert(type(aProviderName) == "string")

	return string.format("/Static/Wup/%s.png", aProviderName)
end
%>

<a href="/">Back to home</a> | <a href="https://livechart.me/schedule?date=<%= liveChartYmd %>">LiveChart.me</a> |
<h1><%= seasonDescription %> watchlist</h1>

<%
-- Group and sort the watchlist by dayOfWeek:
local byDayOfWeek = {}  -- dayOfWeek -> array-table of watchlist items
local byAid = {}  -- aId -> watchlist item
local maxN = 0  -- Max number of watchlist items in a single day-slot
for day = 1, 8 do
	byDayOfWeek[day] = {n = 0}
end
for _, w in ipairs(watchlist) do
	assert(type(w.dayOfWeek) == "number")
	local lst = byDayOfWeek[w.dayOfWeek]
	lst.n = lst.n + 1
	lst[lst.n] = w
	byDayOfWeek[w.dayOfWeek] = lst
	if (lst.n > maxN) then
		maxN = lst.n
	end
	if (w.aId) then
		byAid[w.aId] = w
	end
end
for day = 1, 8 do
	table.sort(byDayOfWeek[day],
		function (aWatchlist1, aWatchlist2)
			return (((aWatchlist1.schedule or {}).timeStr or "") < ((aWatchlist2.schedule or {}).timeStr or ""))
		end
	)
end

-- Group and sort the (unwatched) anime by dayOfWeek:
local animeByDayOfWeek = {}  -- dayOfWeek -> array-table of anime
local animeMaxN = 0  -- Max number of anime in a single day-slot
for day = 1, 8 do
	animeByDayOfWeek[day] = {n = 0}
end
for _, ani in ipairs(seasonAnime) do
	local dow = ani.dayOfWeek
	if (dow and not(byAid[ani.aId])) then
		local lst = animeByDayOfWeek[dow] or {n = 0}
		lst.n = lst.n + 1
		lst[lst.n] = ani
		animeByDayOfWeek[dow] = lst
		if (lst.n > animeMaxN) then
			animeMaxN = lst.n
		end
	end
end
for dow = 1, 7 do
	table.sort(animeByDayOfWeek[dow],
		function(aAnime1, aAnime2)
			if not((aAnime1.schedule or {}).timeStr) then
				return false
			end
			if not((aAnime2.schedule or {}).timeStr) then
				return true
			end
			return (aAnime1.schedule.timeStr < aAnime2.schedule.timeStr)
		end
	)
end
%>



<!-- NavBar: seasons -->
<p>
<%
local currentSeason = utils.currentSeason()
local nextSeason = utils.nextSeason(currentSeason)
for year = seasonYear - 1, seasonYear + 1 do
	for idx = 1, 4 do
		local s = tostring(year) .. "-" .. tostring(idx)
		local sDesc = utils.seasonToDescription(s)
		if (s == season) then
%>
| <%= sDesc %>
<%
		elseif (s <= nextSeason) then
%>
| <a href="/watchlist/<%= s %>"><%= sDesc %></a>
<%
		end
	end
end
%>
| </p>





<h2>Watchlist</h2>
<table>
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
		<th>Older</th>
	</tr>

	<% for i = 1, maxN do %>
	<tr>
		<% for dow = 1, 8 do %>
		<td>
			<%
			local watchlistItem = byDayOfWeek[dow][i]
			if (watchlistItem) then
			%>
				<nobr>
				<% if (watchlistItem.schedule and watchlistItem.schedule.timeStr) then %>
				<%= watchlistItem.schedule.timeStr %> |
				<% end %>
				<form action="/watchlist/edit" method="GET" style="display:inline">
					<input type="hidden" name="itemid" value="<%= watchlistItem.itemId %>" />
					<button type="submit">Edit</button>
				</form>
				<form action="/watchlist/remove" method="POST" style="display:inline">
					<input type="hidden" name="itemid" value="<%= watchlistItem.itemId %>" />
					<input type="hidden" name="watchlistseason" value="<%= season %>" />
					<button type="submit">Remove</button>
				</form>
				</nobr><br />

				<% if (watchlistItem.aId) then %>
				<a href="/anime/<%= watchlistItem.aId %>">
				<% end %>
				<%= watchlistItem.caption %>
				<% if (watchlistItem.aId) then %>
				</a>
				<% end %>
				<br />

				<% if (watchlistItem.url and (watchlistItem.url ~= "")) then %>
				<a href="<%= watchlistItem.url %>">Go</a>
				<% end %>
				<%
				if (watchlistItem.watchUrls) then
					table.sort(watchlistItem.watchUrls, function(aWu1, aWu2)
						return ((aWu1.providerName or "") < (aWu2.providerName or ""))
					end)
					for _, wu in ipairs(watchlistItem.watchUrls) do
					%>
						<a href="<%= wu.watchUrl %>">
						<img src="<%= faviconUrl(wu.providerName) %>" alt="<%= (wu.providerName or "[unknown]") %>" border=1 />
						</a>
					<% end
				end %>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>





<h2>Add extra</h2>
<form action="/watchlist/add/extra" method="POST">
<input type="hidden" name="watchlistSeason" value="<%= season %>" />
<table>
	<tr>
		<th>Day of week</th>
		<td>
			<input type="radio" id="dow_monday" name="dayofweek" value="1" />
			<label for="dow_monday">Monday</label>
			<input type="radio" id="dow_tuesday" name="dayofweek" value="2" />
			<label for="dow_monday">Tuesday</label>
			<input type="radio" id="dow_wednesday" name="dayofweek" value="3" />
			<label for="dow_monday">Wednesday</label>
			<input type="radio" id="dow_thursday" name="dayofweek" value="4" />
			<label for="dow_monday">Thursday</label>
			<input type="radio" id="dow_friday" name="dayofweek" value="5" />
			<label for="dow_monday">Friday</label>
			<input type="radio" id="dow_saturday" name="dayofweek" value="6" />
			<label for="dow_monday">Saturday</label>
			<input type="radio" id="dow_sunday" name="dayofweek" value="7" />
			<label for="dow_monday">Sunday</label>
			<input type="radio" id="dow_older" name="dayofweek" value="older" />
			<label for="dow_monday">Older</label>
		</td>
	</tr>

	<tr>
		<th>Time</th>
		<td>
			<input type="text" name="timeStr" />
		</td>
	</tr>

	<tr>
		<th>Title</th>
		<td>
			<input type="text" name="caption" style="width:800px" />
		</td>
	</tr>

	<tr>
		<th>URL</th>
		<td>
			<input type="text" name="url" style="width:800px" />
		</td>
	</tr>
</table>
<input type="submit" value="Add" />
</form>




<h2>Add older</h2>
<form action="/watchlist/add/search" method="GET">
<input type="hidden" name="watchlistSeason" value="<%= season %>" />
Search: <input type="text" name="query" style="width:800px" />
<input type="submit" value="Search to add" />
</form>




<h2>Add from schedule</h2>
<table>
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</tr>
	<% for i = 1, animeMaxN do %>
	<tr>
		<% for dow = 1, 7 do %>
			<td>
				<%
				local ani = animeByDayOfWeek[dow][i]
				if (ani) then
				%>
					<table class="noborder">
					<tr>
					<td>
					<% if (ani.pictureId) then %>
						<img src="/picture?id=<%= ani.pictureId %>&size=thumb" /> <br />
					<% end %>

					<% if not(request.isReadOnly) then %>
					<form action="/watchlist/add" method="POST" style="display:inline">
						<input type="hidden" name="aid" value="<%= ani.aId %>" />
						<input type="hidden" name="watchlistseason" value="<%= season %>" />
						<input type="hidden" name="dayofweek" value="<%= dow %>" />
						<input type="hidden" name="timestr" value="<%= (ani.schedule or {}).timeStr or "" %>" />
						<button type="submit">Add</button>
					</form>
					<% end %>

					</td>
					<td>
					<% if ((ani.schedule or {}).timeStr) then %>
						<%= ani.schedule.timeStr %> <br />
					<% end %>
					<a href="/anime/<%= ani.aId %>"><%= ani.title or utils.pickBestTitle(ani.titles, "en") %></a>
					</td></tr>
					</table>
			<% end %>
			</td>
		<% end %>
	</tr>
	<% end %>
</table>
</body>
</html>
